<%- include('includes/head.ejs') %>

<br> <h1 id="catalogoRopa" class="featurette-heading fw-normal lh-1">Catálogo</h1> <br>
<!--Linea divisora-->
<hr class="featurette-divider">
<div class="row">

<% // Generar tarjetas de productos %>
<% for (let productoCatalogo of productosCatalogo){ %>
    <!--Columna-->
        <div class="col-md-2 col-sm-4 card-producto">
            <!--Card-->
            <div class="card">
            <img id="imagen_producto" src="<%=productoCatalogo.imagen%>" class="card-img-top" alt="Imagen de <%=productoCatalogo.clase%>">
            <div class="card-body">
                <h5 class="card-title"><%=productoCatalogo.clase%></h5>
                <p class="card-text">Precio: $<span id="precioProducto_tienda"><%=productoCatalogo.precioProducto%></span></p>
                <button id="boton_añadir" class="btn btn-dark botonAñadir">Añadir</button>
            </div>
            </div>
            <!--/card-->
        </div>
<% } %>

<% //Carrito de compras %>
    <!--Linea divisora-->
    <hr class="featurette-divider">

    <!--Carrito de compras-->
    <br><h2 class="featurette-heading fw-normal lh-1">Carrito de compras</h2> <br><br>

    <table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody id="carrito-body">
        <!-- Aquí se agregarán los productos -->
    </tbody>
    <tfoot>
        <tr>
            <td><strong>Total</strong></td>
            <td id="precio-total">$0.00</td>
        </tr>
    </tfoot>
    </table>   

<%- include('includes/footJavaScript.ejs') %>